window {
  background-color: transparent;
}

.text {
  font-size: 100%;
  font-family: "CaskaydiaCove Nerd Font Mono";
}

.pill {
  background-color: #313244; /* Darker box color */
  padding: 4px 12px;
  border-radius: 20px;
}

.time-box {
  font-size: 1000%;
}

.date-text {
  font-size: 500%;
}

.updates-icon {
  font-family: "CaskaydiaCove Nerd Font Mono";
  font-size: 160%;
}
