
discord/

GitKraken/

balenaEtcher/

burn-my-windows/

dconf/

gtk-3.0/

google-chrome/

gtk-4.0/

fcitx5/

hypr/

kdedefaults/

jackify/

ibus/

kdeconnect/

ModrinthApp/

nvim.bak/

openvr/

openxr/

tiling-assistant/

plasmanotifyrc

Element/

libaccounts-glib/

menus/

obsidian/

pulse/

session/

simple-update-notifier/

spotify/

thefuck/

unity3d/

turborepo/

xsettingsd/

vesktop/

Valve/

libreoffice/

alvr/

BambuStudio/

chromium/

.gsd-keyboard.settings-ported

baloofilerc

bluedevilglobalrc

EOS-greeter.conf

GNOME-xdg-terminals.list

gtkrc

gtkrc-2.0

kactivitymanagerd-statsrc

kactivitymanagerdrc

kconf_updaterc

kded5rc

kdeglobals

kglobalshortcutsrc

ksmserverrc

ktimezonedrc

kwinoutputconfig.json

kwinrc

mimeapps.list

monitors.xml

monitors.xml~

pavucontrol.ini

plasma-localerc

plasma-org.kde.plasma.desktop-appletsrc

plasma-welcomerc

plasmashellrc

powermanagementprofilesrc

QtProject.conf

reflector-simple-free-params.txt

Trolltech.conf

user-dirs.dirs

user-dirs.locale

welcome_news_latest_date_file

welcome.conf

xdg-terminals.list
